name: ci-hacc-hui

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

defaults:
  run:
    working-directory: ./app

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}

      - uses: actions/setup-node@v3
        with:
          node-version: '14.x'

      - run: npm ci

      - uses: meteorengineer/setup-meteor@v1
      - run: meteor npm install

      - run: npm install wait-on --save-dev
      - run: meteor npm run start &
      - run: npx wait-on http://localhost:3400

      - run: meteor npm run lint
      - run: meteor npm run test-unit
      - run: meteor npm run testcafe-ci
